@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?fti2b3');
    src:    url('fonts/icomoon.eot?fti2b3#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?fti2b3') format('truetype'),
        url('fonts/icomoon.woff?fti2b3') format('woff'),
        url('fonts/icomoon.svg?fti2b3#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
    content: "\e942";
}
.icon-envelop:before {
    content: "\e945";
}
.icon-location:before {
    content: "\e947";
}
.icon-history:before {
    content: "\e94d";
}
.icon-clock:before {
    content: "\e94e";
}
.icon-search:before {
    content: "\e986";
}
.icon-sphere:before {
    content: "\e9c9";
}
.icon-facebook:before {
    content: "\ea90";
}
.icon-file-pdf:before {
    content: "\eadf";
}

