

.page-id-37611 .header-middle {
    position: relative;
    z-index: 10;
    background: url("http://www.autogasleverkusen.de/umbau/wp-content/uploads/2016/08/background-frau-kind.jpg");
    margin-bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.page-id-37611 .limit-wrapper.top-nav-inner,
.page-id-37611 .menu-main-container {
display: none;

}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1.6em;
    margin-bottom: 0.6em;
}

.erfolgreiche-marken .markenname {
    background: #666;
    height: 31px;
    line-height: 30px;
    display: block;
    color: #fff;
    font-size: 16px;
}

.erfolgreiche-marken a {
	text-align: center;
   	text-decoration: none;
}

.erfolgreiche-marken a div {
    box-shadow: 0 0 8px 0px #2b2f34;
    margin-top: 5px;
    }
    
.erfolgreiche-marken .grid-1-6 span.img {
    width: 165px;
    height: 120px;
}


.erfolgreiche-marken .grid-1-6 span.img img {
	display: inline;
	max-height: 80px;
}


.erfolgreiche-marken .grid-1-6 span.table {
    background: #fff;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    width: 165px;
    height: 120px;
    z-index: 50;
}
    



.erfolgreiche-marken .markenname {
    background: #666;
    height: 31px;
    line-height: 30px;
    display: block;
    color: #fff;
    font-size: 16px;
}

.erfolgreiche-marken a {
	text-align: center;
   	text-decoration: none;
}

.erfolgreiche-marken a div {
    box-shadow: 0 0 8px 0px #2b2f34;
    margin-top: 5px;
    }
    
.erfolgreiche-marken .grid-1-6 span.img {
    width: 165px;
    height: 120px;
}


.erfolgreiche-marken .grid-1-6 span.img img {
	display: inline;
	max-height: 80px;
}


.erfolgreiche-marken .grid-1-6 span.table {
    background: #fff;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    width: 165px;
    height: 120px;
    z-index: 50;
}
    

#main-menu .menu .sub-menu {
  width: 220px;
}

.page-id-36580 .lead-footer {
display:none;
}

.lead-footer {
background-color: white;
box-shadow: 7px -1px 12px grey;

}

.page-wrapper > article {
padding-bottom: 60px;
}

.lead-footer img {
	float: right;
	margin-top: -60px;
}

.lead-footer h4 {
	font-size: 30px!important;
    line-height: 37px;
}
.lead-footer h4 strong {
	font-size: 30px!important;

}

.home .autogas-slider .accent5 {
 padding: 4px;
    margin-right: 20px; border: 1px solid #dd2b1c; font-size: 18px;
}

.home .autogas-slider .accent1 {
font-size: 18px;
}


.page-id-37611 #breadcrumbs {
display: none;
}


@media screen and (max-width: 869px) {

    .page-id-37611 ._form_7 ._form_element ._form-label {
        display: none!important;
    }
    .page-id-37611 ._form_7 ._inline-style input[type="text"] {
    width: 265px!important;
}
}



.home #breadcrumbs {
display: none;
}


body.page-id-37611.wpv-scrolled .fixed-header-box {
    box-shadow: none;
}

footer.main-footer {
background-image: none;
}

.pane-wrapper {
    background-color: #f6f6f6;
}


footer .widget_nav_menu .menu li.current_page_item a {
color: #b4b4b4 !important;
}
footer.main-footer .widget.widget_nav_menu .menu li a {
padding: 4px 8px 4px 3px;
}
.wpv-accordion .tab .ui-icon:after,
.wpv-accordion .tab.ui-state-hover .ui-icon:after, 
.wpv-accordion .tab.ui-state-active .ui-icon:after, 
.wpv-accordion .tab.ui-state-selected .ui-icon:after {
color: #fff!important;
}

body.home.full .wpv-grid.extended.grid-1-1 {
    background: white!important;
}

.page-header .title {
    padding: 60px 0 40px 0;
}

.wpv-accordion .tab .inner {
    padding: 10px 55px 10px 20px;
}

.wpv-accordion .tab .ui-icon {
    line-height: 45px;
}

.home .page-id-37611 .autogas-slider {
    width: 75%;
    max-width: 870px;
    box-shadow: 0px 0px 8px grey;
}


.vamtam-add-shadow {
padding-top: 43px!important;
}
/*
body.full.page-id-37611 .fixed-header-box {
    height: 130px!important;
}

.page-id-37611 .fixed-header-box .logo-wrapper .logo i,mg {
padding: 11px 0!important;
}


.page-id-37611 #main-menu .menu > .menu-item.vamtam-button {
margin-top: 0;
}

.page-id-37611 header.main-header.layout-logo-menu .first-row .logo-wrapper.loaded img {
padding: 10px 0!important;
}


*/
.page-id-37611 .erfahrung h4 {
text-align: center;
margin: 0;
color: black;
} 



.page-id-37611 span.prozent {
color: #dd2b1c;
white-space: nowrap;
}

a {text-decoration: underline;}


.page-id-37611 .vamtam-button.accent2 {
font-size: 2em;
}


.page-id-37611 .autogas-slider {
    text-align: center;
    min-height: 0;
    width: 60%;
    margin: auto;
    background: white;
  margin: 150px auto;
    padding: 5px;
}

.page-id-37611 .autogas-slider h1 {
    color: #333;
    font-weight: 600;
    margin: 0px 0;
    padding: 10px;
    font-size: 46px;
    line-height: 55px;
}

.page-id-37611 .progress {
    border: 1px solid #EDEDED;
    min-height: 200px;
    box-shadow: 0 5px 5px 0 #c8c8c8;
padding: 0 15px;
}

.page-id-37611 [id*='gpr_widget'] .google-places-reviews {
    min-width: 280px;
}


header.main-header.layout-logo-menu .search-wrapper,
.page-id-36580 #main-menu .menu > .menu-item,
.page-id-6779 #main-menu .menu > .menu-item {
display: none;
}

.page-id-36580 #breadcrumbs,
.page-id-36580 #main-menu .menu > .menu-item.vamtam-button,
.page-id-6779 #main-menu .menu > .menu-item.vamtam-button {
display: none!important;
}



#main-menu .menu > .menu-item.vamtam-button {
    background: white;
    border-radius: 20px;
    border: 2px solid #dd2b1c;
    padding: 5px 14px 0px 10px;
    margin-top: -8px;
    display: inline-block!important;
}


.menu .vamtam-button.accent1 span {
    color: #dd2b1c;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;
}


.page-id-37611 header.main-header.layout-logo-menu .first-row .logo-wrapper {
    min-height: 65px;
}


div.wpcf7-response-output, div.wpcf7-validation-errors {
display: inline!important;
}

div.wpcf7 textarea, div.wpcf7 input[type=text] {
padding: 5px 8px!important;
}
div.wpcf7 textarea::-webkit-input-placeholder, div.wpcf7 input[type=text]::-webkit-input-placeholder {
   color: #4A4F55;
}
div.wpcf7 textarea:-moz-placeholder, div.wpcf7 input[type=text]:-moz-placeholder { /* Firefox 18- */
   color: #4A4F55;  
}
div.wpcf7 textarea::-moz-placeholder, div.wpcf7 input[type=text]::-moz-placeholder { /* Firefox 19+ */
   color: #4A4F55;  
}
div.wpcf7 textarea:-ms-input-placeholder, div.wpcf7 input[type=text]:-ms-input-placeholder {  
   color: #4A4F55;  
}

.sitemap .text-divider-double {
    display: none;
}

.wpv-main input[type="text"]::-moz-placeholder, .wpv-main input[type="tel"]::-moz-placeholder, .wpv-main input[type="email"]::-moz-placeholder, .wpv-main input[type="password"]::-moz-placeholder, .wpv-main input[type="email"]::-moz-placeholder, .wpv-main input[type="search"]::-moz-placeholder, .wpv-main input[type="date"]::-moz-placeholder, .wpv-main input[type="range"]::-moz-placeholder, .wpv-main input[type="number"]::-moz-placeholder, .wpv-main input[type="button"]::-moz-placeholder, .wpv-main textarea::-moz-placeholder, .wpv-main select::-moz-placeholder {
    color: #000;
}

.do_lewej {
    text-align: center;
}

.boxed-layout .lewa_kolumna img {
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
    height: auto;
    margin: 0 auto;
    /* m ax-width: 100%; */
    text-align: center;
}

ul.thumbs {
margin: 0 auto;
text-align: center;
}

html.csstransforms .woocommerce span.onsale:before, html.csstransforms .woocommerce ul.products li.product span.onsale:before{
 border-bottom-color: #FCEA00;
}
.woocommerce span.onsale, .woocommerce ul.products li.product span.onsale, .woocommerce ul.products li.product .price ins span{
 color: #D55000;
}
.woocommerce ul.products li.product .price ins span{
background: #FCEA00;
}
.woocommerce ul.products li.product .price del span{
background: #000;
}

.loga > a {
 float: left;
    margin: 35px;
    min-height: 140px;
}

body:not(.page-vertical-padding-none):not(.page-vertical-padding-bottom-only) #sub-header.has-background + .wpv-main {
    padding-top: 0px;
}

.top-nav a {
    color: #dd2b1c;
}

.top-nav a:hover {
    border-bottom: 1px dotted #000000;
    color: #000000;
}

.top-nav a:hover {
border-bottom: 1px double #000000;
}

.move-into-slider {
    margin-top: -93px;
}
.move-into-slider, .move-into-slider-2 {
    z-index: 10;
}

.icon.shortcode.box svg, .icon.shortcode.border svg {
    margin-top: -5px;
}

#footer-sidebars > .row aside {
    padding-top: 20px;
}

.vamtam-button.accent5.button-filled.hover-accent3 {
    font-size: 20px !important;
    background: none repeat scroll 0 0 #f5b3ab;
}

.vamtam-button.accent5.button-filled.hover-accent3:hover {
    background: none repeat scroll 0 0 #ffffff;
}

.copyrightlinks{
float: left;
margin-top: 4px;
}

.copyrightrechts{
float: right;
}

body {
    color: #444;
    font-size: 13px;
    line-height: 1.4em;
   
}

footer.main-footer .widget .widget-title {
    color: #b4b4b4!important;
}

footer.main-footer a, .copyrights a {
color: #dd2b1c!important;
}

footer.main-footer a:hover, .copyrights a:hover {
    color: #fff!important;
}

.dfield input[type="text"], input[type="tel"], input[type="email"], input[type="password"], input[type="email"], input[type="search"], input[type="date"], input[type="range"], input[type="number"], input[type="button"], textarea, select {
margin: 0px!important;
padding: 2px!important;
}

.thumbs > li {
    display: inline-table;
}

.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email.user-success {
    height: 50px;
    padding-left: 17px !important;
}


.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email {
    height: 50px;
    padding-left: 17px !important;
}


@media (min-width: 959px) {

.zinsfrei {
 margin-top: -350px;
    margin-bottom: 10px;
}
#breadcrumbs {
    padding-left: 60px;
}
}

@media (max-width: 959px) {

.erfolgreiche-marken .grid-1-6 {
    float: left !important;
    clear: none!important;
    margin-bottom: 0;
    width: 49% !important;
}

.spu-content .grid-1-3 {
display: none;
}
.lead-footer {
display: none;
}


.home .autogas-slider .accent5 {
    margin-right: 0px; margin-bottom: 10px; border: 1px solid #dd2b1c; font-size: 18px;
}


#breadcrumbs {
    padding-left: 15px;
}
.page-id-37611 .autogas-slider h1 {
    font-size: 40PX;
}

.page-id-37611 .progress {
    border: 0 none;
    box-shadow: none;
}

.push {
    margin-bottom: 0!important;
}
.responsive-layout header.main-header.layout-logo-menu .first-row .logo-wrapper .logo img {
    margin: auto;
}

.boxed-layout .loga img {
width: 80px;
}

.loga > a {
    float: left;
    margin: 5px 10px;
}


}


@media 
only screen and (max-width: 560px) {

.home .page-id-37611 .autogas-slider {
    width: 70%;
}

.home .autogas-slider .accent5 {
 padding: 0;
}


.page-id-37611 .autogas-slider {
margin: 30px auto;

   width: 85%;
}

.page-id-37611 .autogas-slider h1 {
    font-size: 27PX;
    line-height: 40px; 
}

.page-id-37611 .autogas-slider .icon.shortcode {
display: none!important;
}


 /* Force table to not be like tables anymore */
 table, thead, tbody, th, td, tr { 
  display: block; 
 }
	
 tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
	    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 30px;
    text-align: left!important;
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
.tech tbody>tr {
border: none 0;
}
.tech tr td:first-child {
font-weight: bold;
}

}