[id*='gpr_widget'] .google-places-reviews{min-width:250px}[id*='gpr_widget'] .gpr-business-header{margin:0
0 15px}[id*='gpr_widget'] .gpr-business-header .gpr-header-content-wrap{margin:0
0 0 75px}[id*='gpr_widget'] .gpr-business-header .star-rating-wrap{margin:0
6px 4px 0}[id*='gpr_widget'] .gpr-business-header p.gpr-rating-value{line-height:15px;width:100%;float:left}[id*='gpr_widget'] .gpr-business-avatar{width:60px;height:60px;background-size:cover;background-repeat:no-repeat;background-position:center;float:left;margin:0
10px 10px 0}[id*='gpr_widget'] .gpr-business-name{display:block;margin:0
0 6px;line-height:16px}[id*='gpr_widget'] div.gpr-google-logo-wrap{float:left;height:18px}[id*='gpr_widget'] img.gpr-google-logo-header{box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;border:0}[id*='gpr_widget'] .gpr-business-name>a,[id*='gpr_widget'] .gpr-business-name>a:visited{color:#dd4c39;font-weight:bold;text-decoration:none;font-size:15px;line-height:18px}[id*='gpr_widget'] p.gpr-rating-value{line-height:20px;margin:0;font-size:12px;padding:0;float:left}[id*='gpr_widget'] div.rating-wrap{line-height:18px;vertical-align:middle;float:left}[id*='gpr_widget'] .star-rating-wrap{background:url('/umbau/wp-content/plugins/google-places-reviews-pro/assets/images/review_stars.png') no-repeat 0 0 transparent;height:13px;width:67px;float:left;margin:3px
6px 0 0}[id*='gpr_widget'] .star-rating-size{background:url('/umbau/wp-content/plugins/google-places-reviews-pro/assets/images/review_stars.png') no-repeat 0 -13px transparent;height:13px}[id*='gpr_widget'] span.gpr-rating-time{margin:0;padding:0;vertical-align:top;color:#848484;font-size:12px;line-height:13px;font-style:italic;float:left;width:100%}[id*='gpr_widget'] div.gpr-business-header div.gpr-rating-value{min-width:200px}[id*='gpr_widget'].gpr-widget-align-none{margin-bottom:30px}[id*='gpr_widget'].gpr-widget-align-left{float:left;margin:0
30px 30px 0}[id*='gpr_widget'].gpr-widget-align-right{float:right;margin:0
0 30px 30px}[id*='gpr_widget'] div.gpr-review{margin:0
0 20px;padding:0}[id*='gpr_widget'] .gpr-review-avatar{float:left;margin:0
10px 0 0;width:50px;height:50px}[id*='gpr_widget'] .gpr-review-avatar>img{max-width:100%}[id*='gpr_widget'] span.grp-reviewer-name{display:block;margin:0;line-height:16px}[id*='gpr_widget'] span.grp-reviewer-name>a{text-decoration:none}[id*='gpr_widget'] div.gpr-review-info{margin-left:60px}[id*='gpr_widget'] div.gpr-review-content{clear:both;margin:10px
0 0;padding:0
0 8px}[id*='gpr_widget'] div.gpr-review-content>p{font-size:13px;font-family:"Open Sans",Helvetica,Arial,sans-serif;margin:0
0 10px;color:#333}[id*='gpr_widget'] div.gpr-review-content>p:last-of-type,[id*='gpr_widget'] div.gpr-review:last-of-type{margin-bottom:0}[id*='gpr_widget'] .gpr-review .gpr-rating-meta{height:32px}.gpr-alert{font-family:"Open Sans",Helvetica,Arial,sans-serif;padding:8px
14px;color:#c09853;text-shadow:0 1px 0 rgba(255,255,255,0.5);background-color:#fcf8e3;border:1px
solid #fbeed5;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;font-size:13px}.gpr-error{color:#b94a48;background-color:#f2dede;border-color:#eed3d7}.gpr-error
a{color:#b94a48 !important}.new-window{background:url('/umbau/wp-content/plugins/google-places-reviews-pro/assets/images/new-window-icon.png') no-repeat right 4px rgba(0,0,0,0);padding-right:13px}[id*='gpr_widget'] p.no-reviews{margin:0;padding:0}[id*='gpr_widget'] div.gpr-read-all-reviews{width:100%;text-align:center}[id*='gpr_widget'] div.gpr-read-all-reviews
a{width:100%;text-align:center}.gpr-clearfix{*zoom:1}.gpr-clearfix:before,.gpr-clearfix:after{display:table;content:"";line-height:0}.gpr-clearfix:after{clear:both}.readmore-js-toggle{font-size:12px}.spu-box.spu-float-right{right:0;top:40%}.spu-box.spu-float-left{left:0;top:40%}span.spu-timer{position:absolute;bottom:0px;left:0px;font-size:12px;position:absolute;width:100%;text-align:right;padding:0
10px}.spu-box.spu-optin{margin:20px
auto;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px}.spu-box.spu-optin ,
.spu-box.spu-optin
*{box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box}.spu-box.spu-optin  .spu-fields-container{padding:36px
32px 64px}.spu-box.spu-optin  .spu-fields.spu-name,
.spu-box.spu-optin  .spu-fields.spu-email{background-color:#fff;width:36%;height:48px;border:1px
solid #cdd1d4;-webkit-box-shadow:0 0 6px -3px rgba(0,0,0,0.8) inset;-moz-box-shadow:0 0 6px -3px rgba(0,0,0,0.8) inset;box-shadow:0 0 6px -3px rgba(0,0,0,0.8) inset;border-radius:3px;font-size:18px;line-height:38px;padding:4px
6px;overflow:hidden;outline:none;margin:0
2% 0 0;vertical-align:middle;display:inline}.spu-box.spu-optin{width:700px;max-width:100%;padding:20px
!important}.spu-box.spu-optin  .spu-fields.spu-submit{background:#50bbe8;border:1px
solid #429bc0;-webkit-box-shadow:0 1px 1px -1px #fff inset;-moz-box-shadow:0 1px 1px -1px #fff inset;box-shadow:0 1px 1px -1px #fff inset;-webkit-text-shadow:#888 -0 0 1px;-moz-text-shadow:#888 -0 0 1px;text-shadow:#888 -0 0 1px;width:24%;color:#fff;font-size:16px;padding:10px
6px;line-height:24px;text-align:center;vertical-align:middle;cursor:pointer;display:inline;margin:0}.spu-box.spu-optin .spu-fields.spu-submit:hover{background:#41A2CA}.spu-box.spu-optin .spu-box-container{zoom:1}.spu-box.spu-optin .spu-box-container:before,
.spu-box.spu-full-screen .spu-box-container:before,
.spu-box.spu-optin .spu-box-container:after,
.spu-box.spu-full-screen .spu-box-container:after{content:"";display:table}.spu-box.spu-full-screen .spu-box-container:after,
.spu-box.spu-optin .spu-box-container:after{clear:both}.spu-error{margin:1em
0;text-align:center;color:red}.spu-helper-fields{display:none !important;visibility:hidden !important;opacity:0 !important;height:0 !important;line-height:0 !important}.spu-success-message{color:#000;text-align:center}.spu-close{color:#000}.spu-success-overlay{padding:0
20px;background:#fff;position:absolute;width:100%;height:100%;top:0;left:0;z-index:99999999;display:none}.spu-content .wysija-msg
li{list-style:none}.spu-facebook-page{text-align:center;display:block}.spu-box.spu-float-left,.spu-box.spu-float-right,.spu-box.spu-top-right,.spu-box.spu-top-left,.spu-box.spu-bottom-left,.spu-box.spu-bottom-right{margin:10px}.spu-box.spu-full-screen{position:fixed !important;width:90% !important;height:90% !important;top:0 !important;padding:0
!important;margin:auto;left:0;right:0;bottom:0;border:none;box-shadow:none}.spu-box.spu-full-screen .spu-content{max-width:700px;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;min-height:100px}.spu-box.spu-top-bar,.spu-box.spu-bottom-bar{margin:0;width:100% !important;padding:10px
!important;border-left:none !important;border-right:none !important;border-radius:0;position:fixed;box-shadow:none;z-index:1}.spu-box.spu-top-bar{top:0;border-top:none !important}.spu-box.spu-bottom-bar{bottom:0;border-bottom:none !important}.spu-box.spu-top-bar h1,
.spu-box.spu-top-bar h2,
.spu-box.spu-top-bar h3,
.spu-box.spu-top-bar h4,
.spu-box.spu-top-bar h5,
.spu-box.spu-top-bar h6,
.spu-box.spu-top-bar p,
.spu-box.spu-bottom-bar h1,
.spu-box.spu-bottom-bar h2,
.spu-box.spu-bottom-bar h3,
.spu-box.spu-bottom-bar h4,
.spu-box.spu-bottom-bar h5,
.spu-box.spu-bottom-bar h6,
.spu-box.spu-bottom-bar
p{margin:0}.spu-box.spu-optin.spu-theme-bar .spu-box-container{text-align:center}.spu-box.spu-optin.spu-theme-bar .spu-box-container>p{display:inline-block}.spu-box.spu-optin.spu-theme-bar .spu-fields-container{padding:0;display:inline-block;margin-left:15px}.spu-box.spu-optin.spu-theme-bar .spu-fields-container .spu-fields.spu-name,
.spu-box.spu-optin.spu-theme-bar .spu-fields-container .spu-fields.spu-email{height:30px;font-size:14px;line-height:23px}.spu-box.spu-optin.spu-theme-bar .spu-fields-container .spu-fields.spu-submit{font-size:14px;padding:9px
6px;line-height:9px}.spu-box.spu-optin.spu-theme-simple{width:500px;border:none !important}.spu-box.spu-optin.spu-theme-simple .spu-fields.spu-name,
.spu-box.spu-optin.spu-theme-simple .spu-fields.spu-email{width:100%;margin-bottom:20px;text-align:center;margin-right:0}.spu-box.spu-optin.spu-theme-simple .spu-fields.spu-submit{width:100%}.spu-box.spu-optin.spu-theme-postal{width:700px;background:url(/umbau/wp-content/plugins/popups-premium/public/assets/img/postal.png) 0% 0 no-repeat,url(/umbau/wp-content/plugins/popups-premium/public/assets/img/postal.png) 0% 100% no-repeat;padding:40px
!important;background-color:#fff;border:none}.spu-box.spu-optin.spu-theme-postal .spu-fields-container{padding:36px
0 40px;margin-left:-10px;margin-right:-10px}.spu-box.spu-optin.spu-theme-postal .spu-fields.spu-email{width:74%}.spu-box.spu-optin.spu-theme-postal.with-spu-name .spu-fields.spu-email{width:36%}.spu-box.spu-optin.spu-theme-postal .spu-fields.spu-submit{}.spu-box.spu-optin.spu-theme-coupon{background:#FFFFAD !important;border:none !important}.spu-box.spu-optin.spu-theme-coupon .spu-box-container{border:10px
dashed;padding:20px;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px}.spu-box.spu-optin.spu-theme-coupon .spu-fields.spu-name,
.spu-box.spu-optin.spu-theme-coupon.with-spu-name .spu-fields.spu-email{width:49%;margin-bottom:20px;text-align:center}.spu-box.spu-optin.spu-theme-coupon .spu-fields.spu-email{width:100%;margin-bottom:20px}.spu-box.spu-optin.spu-theme-coupon .spu-fields.spu-email{margin-right:0}.spu-box.spu-optin.spu-theme-coupon .spu-fields.spu-submit{width:100%;background-color:#E45757;border-color:#7D3630}.spu-box.spu-optin.spu-theme-coupon .spu-fields.spu-submit:hover{background:#7D3630}.spu-box.spu-optin.spu-theme-cta{width:700px;padding:40px
0 0 0 !important;position:relative;border:none !important}.spu-box.spu-optin.spu-box.spu-float-left,.spu-box.spu-optin.spu-box.spu-float-right,.spu-box.spu-optin.spu-theme-cta.spu-top-right,.spu-box.spu-optin.spu-theme-cta.spu-top-left,.spu-box.spu-optin.spu-theme-cta.spu-bottom-left,.spu-box.spu-optin.spu-theme-cta.spu-bottom-right{position:fixed}.spu-box.spu-optin.spu-theme-cta .spu-fields-container:after{content:"";position:absolute;left:10px;top:-60px;width:45px;height:97px;background:url(/umbau/wp-content/plugins/popups-premium/public/assets/img/cta-arrow.png) 0px 0px no-repeat}.spu-box.spu-optin.spu-theme-cta .spu-fields-container{padding:36px
30px;background:#cdd1d4;border-top:1px solid #B3B2B2;position:relative;margin-top:50px}.spu-box.spu-optin.spu-theme-cta .spu-fields.spu-email,
.spu-box.spu-optin.spu-theme-cta .spu-fields.spu-name{border:1px
solid #C0BDBD}.spu-box.spu-optin.spu-theme-cta .spu-fields.spu-email{width:74%}.spu-box.spu-optin.spu-theme-cta.with-spu-name .spu-fields.spu-email{width:36%}.spu-box.spu-optin.spu-theme-cta .spu-fields.spu-submit{background:#8DA4AD;border:1px
solid #949798}.spu-box.spu-optin.spu-theme-cta .spu-fields.spu-submit:hover{background:#778C95}.spu-box.spu-after-content{position:relative;left:0;top:0;display:block;width:100%;z-index:1;box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none}@media (max-width: 720px){.spu-box.spu-optin{width:100%}.spu-box.spu-optin.spu-theme-postal .spu-fields.spu-email,
.spu-box.spu-optin.spu-theme-postal.with-spu-name .spu-fields.spu-email,
.spu-box.spu-optin.spu-theme-postal .spu-fields.spu-name,
.spu-box.spu-optin.spu-theme-postal .spu-fields.spu-submit{width:100%;margin-bottom:20px}.spu-box.spu-optin.spu-theme-coupon .spu-fields.spu-name,
.spu-box.spu-optin.spu-theme-coupon .spu-fields.spu-email,
.spu-box.spu-optin.spu-theme-coupon.with-spu-name .spu-fields.spu-email{width:100%;margin-bottom:20px;text-align:center}.spu-box.spu-optin.spu-theme-cta .spu-fields.spu-email,
.spu-box.spu-optin.spu-theme-cta.with-spu-name .spu-fields.spu-email,
.spu-box.spu-optin.spu-theme-cta .spu-fields.spu-name,
.spu-box.spu-optin.spu-theme-cta .spu-fields.spu-submit{width:100%;margin-bottom:20px}.spu-box.spu-optin.spu-theme-cta.with-spu-name:after{bottom:245px}.spu-box.spu-optin.spu-theme-cta:after{bottom:180px}.spu-box.spu-optin.spu-theme-bar .spu-fields.spu-email,
.spu-box.spu-optin.spu-theme-bar.with-spu-name .spu-fields.spu-email,
.spu-box.spu-optin.spu-theme-bar .spu-fields.spu-name,
.spu-box.spu-optin.spu-theme-bar p,
.spu-box.spu-optin.spu-theme-bar .spu-fields.spu-submit{margin-bottom:20px}}@media only screen and (max-width: 620px){.spu-box{margin-left:0;margin-right:0}}