@charset "utf-8";
/* CSS Document */

*{font-family:Tahoma,Verdana, Arial, Helvetica, sans-serif; font-size:12px;} 
body{ background:url(../image/bg.png) top repeat-x; font-family:Tahoma,Verdana, Arial, Helvetica, sans-serif; font-size:11px;  background-color:#e6e6e5 ; color:#333333; margin:0 }
body.de2 {background:url(../image/tlo_2.png) top no-repeat; background-color:#042139 ; }
.baner {height:235px; width:970px; background:url(../image/banner.png) no-repeat}
.baner img {margin-top:5px; margin-left:30px;}
body.de2 .baner {background:url(../image/banner-de2.png) no-repeat}
.baner-pl {height:235px; width:970px; background:url(../image/banner_pl.png) no-repeat}
.baner-pl img.baner_logo {margin-top:15px; margin-left:30px;} 
.baner-pl img.facebook_logo {margin-top:15px; margin-left:400px;} 

.baner-pl-de {height:235px; width:970px; background:url(../image/banner_pl_de.png) no-repeat}
.baner-pl-de img {margin-top:15px; margin-left:30px;} 

.container {margin-left:4px; }

.menu {height:82px; background:url(../image/menu_bg.png) no-repeat}
body.de2 .menu {background:url(../image/menu_bg-de2.png) no-repeat}
.menu ul a {text-decoration: none;}
li.first { background:none !important}
.menu ul li {margin: 0;float:left;display: block;padding-top:0px; height:22px; margin:10px; background:url(../image/dot1.png) left  no-repeat; }
.menu ul li a {text-align:center;padding-top:15px;color: #ffffff;display: inline-block;height:30px;margin-left:10px; padding:5px;}
body.de2 .menu ul li a { color: #0d0d0d; }
.menu ul li a:hover{ color: #FFFFFF;background-repeat:no-repeat;font-weight:bold; text-decoration:underline}
body.de2 .menu ul li a:hover{ color: #0d0d0d; font-weight:bold; }
.menu ul li ul {background:url(../image/tlo_ul.png) left top no-repeat; margin-left:-9px;   width:950px !important; position: absolute;top: 40px;left: 10px;height: 25px;padding-left: 0px;padding-bottom:25px; display: none; text-align:center}
body.de2 .menu ul li ul {background:none; }
.menu ul li.on ul {display: block; }
#nav li.over ul, #nav li:hover ul {display: block;z-index: 10;}
.menu ul li ul li{background: url(../image/dot2.png) left no-repeat; padding-left:4px; padding-right:4px; margin-right:0px}
body.de2 .menu ul li ul li{background: url(../image/dot1.png) left no-repeat;  }
.menu ul li ul span { height:22px; width:2px; display:inline-block; float:left}
.menu ul li ul a{display: inline-block;color: #0d0d0d !important;padding:0px;height:22px; padding-right:2px;line-height:22px; margin:0; font-weight:normal; }	
body.de2 .menu ul li ul a{ color: #ffffff !important; }
.menu ul li ul li:hover a,.menu ul li ul li.on a {background:url(../image/menu_a_right.png) right top no-repeat;font-weight:normal;color: #0d0d0d; text-decoration:none}		
.menu ul li ul li:hover span, .menu ul li ul li.on span {  background: url(../image/menu_a_left.png) no-repeat; }
.menu ul li ul li:hover a {font-weight:bold}
li.on a {font-weight:bold}
.menu ul li { padding:10px 10px 10px 0px; margin:0}
.menu ul li.flag { padding-top:4px;  }


.gdzie_jestes {background:url(../image/dot3.png) bottom repeat-x; height:35px; width:950px; position:relative; margin-left:5px}
body.de2 .gdzie_jestes { background:none; }
.gdzie_jestes ul li{ float:left; list-style:none; margin:0 10px 0 0; }
.gdzie_jestes ul {background:url(../image/car.png) left no-repeat; float:left; height:20px; margin-top:10px; padding-left:30px; margin-left:0}
body.de2 .gdzie_jestes ul {background: none; padding-left:0px; }

.gdzie_jestes ul li a {color:#700609; background:url(../image/li2.png) right center no-repeat;   padding-right:10px; text-decoration:none }
body.de2 .gdzie_jestes ul a {color:#ffffff; background:none; }
body.de2 .gdzie_jestes ul b {color:red; }

.gdzie_jestes ul li a:hover {text-decoration:underline}
.wyszukiwarka  {  padding:5px 0 0 60px}
.wyszukiwarka fieldset {background:url(../image/input.png) left no-repeat; height:22px; border:none;}
.wyszukiwarka fieldset input { width:135px;  margin:4px 0 0 5px; background:none; border:none}
.wyszukiwarka fieldset input.go { height:22px; width:26px; position:absolute; margin:0px 0 0 0px}


.tresc {background: url(../image/foother.png) bottom no-repeat #FFF; width:949px;  margin:0 auto; padding-top:10px; margin-bottom:20px; padding-bottom:15px}
.lewa_kolumna{ float:left; width:700px; padding-left:20px;  }
.prawa_kolumna{float:left;  width:219px;   margin-left:5px}
.do_lewej { background: url(../image/belka_prawy.png) right no-repeat #e6e6e5; display: inline-block; height:27px; padding:0 10px; line-height:27px; width-min:10px; overflow: visible;  margin-left:-20px;}
body.de2 .do_lewej { background: none; color: red; font-size: 130%;}

.lewa_kolumna ul {line-height:28px; padding-left:15px}
.lewa_kolumna ul li {background:url(../image/li.png) left no-repeat; padding-left:15px}


.lewa_kolumna table.styling { width:563px; margin:0px auto; margin-bottom:10px; border-spacing:0}
.lewa_kolumna table.styling caption { height:31px; background:url(../image/belka.png) no-repeat #F00; line-height:31px; font-weight:bold; padding:0; margin-top:10px;  }

.lewa_kolumna table.styling tr.background1 {background:url(../image/tr_ciemny.png) no-repeat; width:554px; height:30px; position:relative; }
.lewa_kolumna table.styling tr.background2 {background:url(../image/tr_jasny.png) no-repeat; width:554px; height:30px; position:relative}
.lewa_kolumna table.styling tr td { vertical-align:middle; padding-left:20px; border:none}


.polecane_arty { width:718px;  background: url(../image/artykuly_content.png) repeat-y; margin-left:-20px; margin-top:10px  }
.polecane_arty .top {height:42px; background:url(../image/artykuly.png) no-repeat}
.polecane_arty .bot { background:url(../image/artykuly_bott.png)  bottom no-repeat; height:3px !important; margin-bottom:0px; margin-top:10px;  }

.polecane_arty_pl { width:718px;  background: url(../image/artykuly_content.png) repeat-y; margin-left:-20px; margin-top:10px  }
.polecane_arty_pl .top {height:42px; background:url(../image/artykuly-pl.png) no-repeat}
.polecane_arty_pl .bot { background:url(../image/artykuly_bott.png)  bottom no-repeat; height:3px !important; margin-bottom:0px; margin-top:10px;  }

body.de2 .polecane_arty { width:909px; background: none; margin-left:20px; }


.art {float:left; margin:5px; width:228px;  }

body.de2 .art { width:288px;  }

.art h4 {  font-size:13px; margin-bottom:10px; max-height:20px  }
.art h4 a {color:#91090e; text-decoration:none}
.art h4 a:hover {text-decoration:underline}
.art img {float:left; display:inline-block; margin-right:5px }
.art p { padding:0}
.art .tekst { height:170px; overflow:hidden}
.wiecej {float:right; display:block; height:14px; width:73px; background:url(../image/wiecej.png) no-repeat; margin:0px; text-align:center; color:#000; text-decoration:none; margin-right:10px }

.wiecej:hover {text-decoration:underline}



.box {width:219px; background:url(../image/belka2_content.png) repeat-y; margin-bottom:10px }
.box .top {height:32px; background:url(../image/belka2.png) no-repeat}
.box .bot {background:url(../image/belka2_bot.png) bottom no-repeat ; height:3px}
.paliwa p {background-color:#ffffff; margin:0 1px; padding:0; font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:bold}
.paliwa p img { vertical-align:middle; margin:0 10px}
.box .container { width:212px; overflow:hidden; position:relative; text-align:center; margin-left:0px   }
.box .container a { line-height:130%}
.box .container img {margin-bottom:5px}
div.slides { position:absolute; top:0; left:0; }
ul.slides { position:absolute; top:0; left:0; list-style:none; padding:0; margin:0; }
div.slides div,ul.slides li { position:absolute; top:0; width:212px; display:none; padding:0; margin:0; }
#loopedSlider,#newsSlider { margin:0 auto; width:212px; position:relative; clear:both; }
.previous, .next {background:url(../image/nastepne.png); height:18px; width:88px; display:block; text-align:center; line-height:18px; text-decoration:none; color:#333; float:left; margin-top:5px}
.next {float:right}
.next:hover, .previous:hover {text-decoration:underline}

.foother {background:url(../image/foother.png) bottom no-repeat #FFF; width:949px; margin:10px auto; height:35px;}
.foother  ul { margin:10px 0 0 10px; position:absolute}
.foother  ul li {float:left; border-left:1px solid #333; padding:0 10px}
.foother  ul li a { font-size:12px}
.foother  ul li.active a { font-weight:bold}
.foother  .logo {margin:27px 0 15px 380px}
/*; position:absolute}*/
.foother a {color:#333}
.foother .first {border:none }
.gory {position: absolute; font-size:12px; margin:10px 0 0 880px; }


.naglowek {font-size:17px; padding:8px 0 0 13px; }
.none {background:none !important; border:none !important}

p {line-height:130%; padding:10px 10px; font-size:12px; text-align: justify; }
p.alert {line-height:130%; padding:10px 10px; font-size:15px; text-align: center; color: red; font-weight: bold; }
.lista {padding-left:20px; font-size:12px; }

.czcionka {color:#8f080d; margin:10px auto; width:90%; font-size:30px; font-family:font}
.img { border:1px solid  #333; padding:3px; background-color:#fefbfb; vertical-align:middle }
.left {float:left; }
.margines_lewy {margin-left:50px}

.center {text-align:center}

/*DOMYŚLNA TABELA*/
table {width:100%;  margin: auto; border-spacing:0}
table caption {background-color:#CCC; padding:10px}
table tr td, table tr th {padding:8px; border-bottom:1px dotted #CCC; border-spacing:0; margin:0;  vertical-align:middle; line-height:130%; font-size:12px; text-align: justify;}
table tr th { vertical-align: middle; text-align: center; border-bottom: 0;}
table.lista tr td {font-size:11px; text-align: none;}
table tr td.center {text-align: center;}
.bez_podkreslenia { border-bottom: 0;}

table.angebotsanfrage tr td {font-size:11px; text-align: none; padding:3px; }
table.angebotsanfrage tr td p {font-size:11px; padding:0px; }
 
table.zbiornikiTable th { vertical-align: middle;}
table.zbiornikiTable td.zbiornikHead { text-align: center; font-weight: bold; }



a {color: #8f080d; text-decoration:none; line-height:110%}
a:hover {text-decoration:underline }

.loga { text-align:center}
.loga img {padding:20px 5px; border-bottom:1px solid #CCC}

#slideshow { text-align:center}
#slideshow img {border:1px solid #333; padding: 3px}
ul.thumbs li {float:left; text-align:center; background:none; padding:0; margin:5px; line-height:120%; }
ul.thumbs li a {line-height:100%}
ul.thumbs li img {border:1px solid #333; padding:3px}
ul.thumbs li a:hover{ font-weight:bold}

.polecane_arty .center .tekst {border: solid #CCC; border-width:0 1px 0 1px; padding:0 5px}
.polecane_arty .center img  { float:none}
.tech { clear:both; }

.box .top h3 {font-size:14px; padding:5px 0 0 10px}
#cse-search-box {position:absolute; width:250px; margin-left:-10px}
.header {font-size:14px; font-weight:bold;}
.header12 {font-size:12px; font-weight:bold;}

.angebotsanfrage_width_1 { width:300px}

tr.szczegoly_wyceny td { padding-left:30px; }

#map-baloon
{
    display: none;
    position: absolute; 
	z-index: 1000; 
	top: 0; 
	left: 0;
	background-repeat: no-repeat;
}

/*  
 * width: 314px; height: 333px;
 * background-image: url(../../img/balmap.png); */
.wycena_online { 
		display: none; 
		position: absolute;
		z-index: 1000; 
		cursor: pointer;
		}
	
.wycena_online .ui-state-error {
	background:url(../image/menu_bg.png) no-repeat
		}
.wycena_online p {
		padding:  5px 10px;
		font-size: 21px; 
}
.wycena_online p span.ui-icon {
		margin-top: .3em;
}

#map-baloon img { margin: 0px 0px 0px 0px; }

